<div class="container" ng-controller="LoginController">
    <form class="form-signin">
        <img class="mb-4 img-center" src="media/pusheen-login.png" alt="" width="150" height="150">
        <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesión:</h1>
        <label for="inputEmail" class="sr-only">Usuario:</label>
        <input type="text" id="usuario" class="form-control" placeholder="Usuario" required="" autofocus="" ng-model="user.login">
        <label for="inputPassword" class="sr-only">Contraseña:</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" ng-model="user.password">

        <button class="btn btn-lg btn-primary btn-block" ng-click="calldata(user)">Sign in</button>

    </form>
</div>